* {
    box-sizing: border-box;
  }

  body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Francois One", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
  }